@{
    ViewData["Title"] = "Bebelen Love Pink";
}

<div class="text-center">
    <h1 class="display-4">Vista De Admin</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
