@{
    ViewData["Title"] = "Bebelen Love Pink";
}
@section Styles {<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true"/> }

<body>
    <div class="align-self-center">
        <div class="container">
            <div>
                Usuario: <input />
            </div>
            <div>
                Contraseña: <input />
            </div>
        </div>

    </div>
</body>
