@{
    ViewData["Title"] = "Bebelen Love Pink";
}

<div class="text-center">
    <h1 class="display-4">Vista De Admin</h1>
    
</div>

<div class="align-self-lg-center">
    <div>
        <a asp-action="Inventory">Gestionar Invetario</a>
    </div>
    <div>
        <a asp-action="Estadistics">Observar Estadisticas</a>
    </div>
    <div>
        <a asp-controller="Home" asp-action="Index">Vista Cliente</a>
    </div>
</div>
