@{
    ViewData["Title"] = "Bebelen Love Pink";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
}
<script src="https://kit.fontawesome.com/57faba85b1.js" crossorigin="anonymous"></script>
@model Inventario
<body class="container">
    <nav>
        <a asp-controller="Admin" asp-action="Login">Login</a>
        <div>
            <i class="fa-solid fa-cart-shopping">
                <div class="buy-card">
                    <ul class="nav-card">
                        <li>Imagen</li>
                        <li>Nombre</li>
                        <li>Precio</li>
                        <li>Cantidad</li>
                        <li></li>
                    </ul>
                    <div class="lista">

                    </div>
                    <button>Vaciar carrito</button>
                </div>
            </i>

        </div>
    </nav>

    <div>
        
    </div>
    <div class="grid">
        <div class="items">
            <img src="~/photos/ParcheDeMomento.png" alt="Alternate Text" />
            <div class="info">
                <h3>@Model.Nombre</h3>
                <p>@Model.Marca</p>
                <div class="precio">
                    <p>$@Model.Precio</p>
                </div>
                <button>Agregar al Carrito</button>
            </div>
        </div>
    </div>
    <script src="~/js/carrito.js"></script>
</body>