@{
    ViewData["Title"] = "Bebelen Love Pink";
}

<div class="align-self-center">
    <table border="1" class="align-text-center">
        <tr>
            <td>
                <div class="text-center">esto es un texto</div>
            </td>
            <td>
                <div class="text-center">esto es un texto2</div>
            </td>
            <td>
                <div class="text-center">esto es un texto3</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="text-center">esto es un texto4</div>
            </td>
            <td>
                <div class="text-center">esto es un texto5</div>
            </td>
            <td>
                <div class="text-center">esto es un texto6</div>
            </td>
        </tr>
</table>
</div>

