@{
    ViewData["Title"] = "Bebelen Love Pink";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
}
<script src="https://kit.fontawesome.com/57faba85b1.js" crossorigin="anonymous"></script>
<html>
<body class="container">
        <nav id="carrito">
            <a asp-controller="Admin" asp-action="Login">Login</a>
            <div>
                <i class="fa-solid fa-cart-shopping">
                    <div class="buy-card">
                        <ul class="nav-card">
                            <li>Imagen</li>
                            <li>Nombre</li>
                            <li>Precio</li>
                            <li>Cantidad</li>
                        </ul>
                        <div class="lista">

                        </div>
                        <button id="vaciarCarrito">Vaciar carrito</button>
                    </div>
                </i>

            </div>
        </nav>

        <h1>Bebelen Love Pink</h1>
        <div class="grid" id="listaProducto">
            <div class="items">
            <a asp-controller="Home" asp-action="Details"><img src="photos/cremas.jpg" /></a>
                <div class="info">
                    <h3>Crema Facial</h3>
                    <p>Avon</p>
                    <div class="precio">
                        <p>$10000</p>
                    </div>
                    <button class="agregarProducto" data-id="1">Agregar al Carrito</button>
                </div>
            </div>
            <div class="items">
                <img src="photos/cremas.jpg" alt="Alternate Text" />
                <div class="info">
                    <h3>Nombre Producto</h3>
                    <p>Marca producto</p>
                    <div class="precio">
                        <p>$10000</p>
                    </div>
                    <button>Agregar al Carrito</button>
                </div>
            </div>
            <div class="items">
                <img src="photos/cremas.jpg" alt="Alternate Text" />
                <div class="info">
                    <h3>Nombre Producto</h3>
                    <p>Marca producto</p>
                    <div class="precio">
                        <p>$10000</p>
                    </div>
                    <button>Agregar al Carrito</button>
                </div>
            </div>
            <div class="items">
                <img src="photos/cremas.jpg" alt="Alternate Text" />
                <div class="info">
                    <h3>Nombre Producto</h3>
                    <p>Marca producto</p>
                    <div class="precio">
                        <p>$10000</p>
                    </div>
                    <button>Agregar al Carrito</button>
                </div>
            </div>
        </div>
<script src="~/js/carrito.js"></script>
</body>
</html>